
  @import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  body{
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
  }

.titulo{
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 32px;
}

.subtitulo{
    color: white;
    font-size: 20px;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

input{
    display: none;

}
#boton-mascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family:'Poppins', sans-serif ;
    margin-top: 30px;
}
#seleccionar-ataque{
    
    flex-direction: column;
    align-items: center;
}
.boton-de-ataque{
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family:'Poppins', sans-serif ;
}